<div ng-controller="CreateUserCtrl" class="tests-div" id="createUser">
  <table class="tests-table">
    <tr>
      <td class="tests-td">
        <form ng-submit="createUser()" id="createUser">
        <input type="email" ng-model="email" name="email" id="emailInput">
        <input type="submit" id="createuser" value="Send"></input>
        </select>
        </form>
      </td>
        
      <td class="tests-td">
        E-Mail: <span>{{email}}</span><br>
        Verification Number: <span>{{number}}</span><br>
        Verification String: <span>{{string}}</span>
      </td>
  </tr>
  </table>
</div>
