<div ng-controller="setLangCtrl" style="direction:{{lang.direction}}">
<!-- Don't put controller name inside the modal HTML file. Define it into $uibModal.open(){} -->

  <div class="modal-header centered">
<!--    <h3 class="modal-title">{{lang.tr('logout')}}</h3> -->
    <h3 class="modal-title">{{lang.tr(modalHeader)}}</h3>
  </div>
  <form ng-submit="confirm()">
    <div class="modal-body centered">
      <h4>{{lang.tr('confirmPasswordToContinue')}}</h4>
      <input class="cwp-input" type="text" ng-model="data.email" disabled></input>
      <input class="cwp-input" type="password" ng-hide="showAlert()" ng-change="changed()" ng-model="data.password" placeholder="{{lang.tr('password')}}"></input>
      <uib-alert ng-show="showAlert()" class="alert login-alert" type="danger" role="alert" close="dissmissAlert()">
        <span>{{lang.tr(alertMessage())}}</span>                    
      </uib-alert>
    </div>
    <div class="modal-footer wmo-modal-footer" style="direction:{{lang.direction}}">
      <div class="row">
        <button class="btn btn-primary pull-{{lang.oppositeFloatDir}}" type="submit" ng-disabled="disabled()">{{lang.tr('confirm')}}</button>
        <button class="btn btn-warning pull-{{lang.floatDir}}" type="button" ng-click="cancel()">{{lang.tr(modalCancel)}}</button>
      </div>
    </div>
  </form> 
</div>