<div class="container uh-in-container" ng-cloak ng-controller="CreatePlanCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="centered" id="createPlan">{{lang.tr('createPlan')}}</h3>
    </div>
  </div>
  
  <div ng-include="planPropertiesTmpl" ng-cloak></div>
  
  </br>
  <div class="row">
    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-info pull-{{lang.oppositeFloatDir}}" type="submit"
        ng-disabled="addPlanValidation()" ng-click="addPlan()">{{lang.tr('create')}}</button>
      <button class="btn btn-success pull-{{lang.oppositeFloatDir}} wmo-btn-middle" type="button"
        ng-disabled="disableEditing" ng-click="doneEditing()">{{lang.tr('edit')}}</button>
      <button class="btn btn-warning pull-{{lang.floatDir}} wmo-btn-middle" type="button" ng-click="setIncludeURL('init')">{{lang.tr('cancel')}}</button>
      <button class="btn btn-default pull-{{lang.floatDir}}" type="button" ng-click="cleanPlan()">{{lang.tr('cleanAll')}}</button>
    </div>
  </div>

  <div ng-if="newPlans.length > 0">
    <div class="col-xs-12 centered"><span><h3>{{lang.tr('newPlans')}}</h3></span></div>
    <div class="table table-responsive">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th rowspan="2" style="width:50%">{{lang.tr('planDescription')}}</th>
            <th rowspan="2" style="width:5%">{{lang.tr('planInterest')}}</th>
            <th rowspan="2" style="width:5%">{{lang.tr('planDuration')}}</th>
            <th colspan="2" class="centered">{{lang.tr('planIsActive')}}</th>
            <th rowspan="2" style="width:10%"></th>
          </tr>
          <tr>
            <th style="width:10%">{{lang.tr('fromDate')}}</th>
            <th style="width:10%">{{lang.tr('tillDate')}}</th>
          </tr>
        </thead>
        <tbody ng-repeat="p in newPlans track by p.ind=$index">
          <tr ng-repeat="l in ::langs track by $index">
            <td>{{p.description[l.value]}}</td>
            <td ng-if="$index == 0" rowspan="{{langs.length}}">{{p.interest}}</td>
            <td ng-if="$index == 0" rowspan="{{langs.length}}">{{p.duration}}</td>
            <td ng-if="$index == 0" rowspan="{{langs.length}}">{{localTime(p.fromDate)|date:dateFormat}}</td>
            <td ng-if="$index == 0" rowspan="{{langs.length}}">{{(p.tillDate === 'permanent') ? lang.tr('unlimited') : localTime(p.tillDate)|date:dateFormat}}</td>
            <td ng-if="$index == 0" rowspan="{{langs.length}}" class="centered">
              <div class="btn-group" role="group" aria-label="edit-delete">
                <button class="btn btn-info" type="button" ng-click="editPlan(p.ind)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-warning" type="button" ng-click="removePlan(p.ind)"><span class="glyphicon glyphicon-trash"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-info pull-{{lang.oppositeFloatDir}}" type="submit" ng-click="createInSystem()">{{lang.tr('createInSystem')}}</button>
        <button class="btn btn-warning pull-{{lang.floatDir}}" type="button" ng-click="setIncludeURL('init')">{{lang.tr('cancel')}}</button>
      </div>
    </div>
  </div>
</div>
