/* Variables */
:root {
  --wmoInputErrorBackGroundColor: #f2dede;
  --wmoInputValidBackGroundColor: #dff0d8;
  --loginHeaderBackgroundColor: darkblue;
  --loginTableBackgroundColor: lightgray;
  --loginBorderColor: lightgray;
  --testsRowOddBackgroundColor: #f1f1f1;
  --testsRowEvenBackgroundColor: #ffffff;
  --testsTDBorderColor: lightgray;
  --uhFaStarColor: #fe9a2e;
  --ppInputColor: #555;
  --ppInputBackgroundColor: #eee;
  --ppInputBorderColor: #ccc;
}

/* ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Global */
.centered {
  text-align:   center !important;
  margin-left:  0 auto !important;
  margin-right: 0 auto !important;
}
  
.wmo-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("images/Home-3.jpg");
  background-repeat: repeat;
}

.wmo-modal-footer {
  margin-left: 5%;
  margin-right: 5%;
}

.wmo-btn-middle {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.wmo-input-error {
  background-color: var(--wmoInputErrorBackGroundColor);
}

.wmo-input-valid {
  background-color: var(--wmoInputValidBackGroundColor);
}

.wmo-operation-alert {
  text-align:   center !important;
  margin-left:  0 auto !important;
  margin-right: 0 auto !important;
  font-size:    xx-large !important;
}


/* Language */
.lang-select {
  border:3px solid green;
  padding: 2px;
}

.lang-option,.lang-select {
  font-size: 13px;
  font-weight: bold;
  color: gray;
}

.lang-flag {
  background-repeat: no-repeat;
  width: 33px;
  height: 27px;
}

/*Login*/
.login {
  background-image: url("images/Home-3.jpg");
  background-repeat: repeat;
  border: 2px solid var(--loginBorderColor);
}
.login-container {
  margin: 0 auto;
}

.login-header {
  text-align: center;
  font-size: 42px;
  font-family: Book Antiqua !important;
}

.login-tab {
  font-weight: normal;
  font-size: 16px;
}
.login-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin-left: auto; 
  margin-right: auto; 
  padding: 10px;
  background-color: var(--loginTableBackgroundColor);
}

.login-button {
  font-size: 16px !important;
  width: 150px !important;
  padding: 15px 32px !important;
  border-radius: 10px 10px 10px 10px !important;
}

.login-input {
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  direction: ltr;
  text-align: center;
}

.login-jumbotron {
  margin: 0 auto;
  max-width: 340px !important;
  background-color: var(--loginTableBackgroundColor);
  padding: 10px 10px 10px 10px !important;
}

.login-alert {
  max-width: 320px !important;
  margin: 0 auto;
}

.login-wmorg-img {
  height: 151px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-select {
  border-radius: 5px 5px 5px 5px !important;
}  

.btn-flag-sm {
  border-radius: 0px !important;
  width: 41px !important;
}

/* Enroll */
.enroll-input {
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  direction: ltr;
  text-align: center;
} 


/* Register */
.register-jumbotron {
  margin: 0 auto;
  max-width: 500px !important;
  padding: 10px 10px 10px 10px !important;
}

.register-dropdown-menu-right {
  right: 0;
  left: auto;
  margin-right: 15px;
  text-align: right;
}

.register-dropdown-menu-left {
  right: auto;
  left: 0;
  margin-left: 15px;
  text-align: left;
}

.register-table-btn {
  padding-top: auto !important;
  padding-bottom: auto !important;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
  max-width: 20px;
}

.register-phone-alert {
  width:100% !important;
  text-align:center !important;
}

/* Users Home */

.uh-fa-nav {
  font-size: 18px;
}
.uh-menu-header {
  text-align: center;
  font-weight: bold;
}

.uh-well-container {
  position:relative;
/*  border:1px solid black; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.uh-well-buttons-row {
  text-align: center;
}

.uh-well-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

.uh-navbar-container {
/*  position: relative; */
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.uh-fa-star {
  color: var(--uhFaStarColor) !important;
  font-size: 18px !important;
}

.uh-collaps-off {
  
}

@media (max-width: 768px) {
  .uh-in-container {
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .gp-td-checkbox {
    padding-left: 12px !important;
  }
}
@media (min-width: 768px) {
  .uh-in-container {
    width: 100% !important;
  }
  .gp-td-checkbox {
    padding-left: 10px !important;
  }
}
@media (min-width: 992px) {
  .uh-in-container {
    width: 100% !important;

  }
  .gp-td-checkbox {
    padding-left: 11px !important;
  }
}
@media (min-width: 1200px) {
  .uh-in-container {
    width: 100% !important;
  }
  .gp-td-checkbox {
    padding-left: 9px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .uh-navbar-fixed {}
}

/* Plan Properties*/
.pp-btn-input, .pp-input-addon {
  font-weight: bold;
  color: var(--ppInputColor);
  background-color: var(--ppInputBackgroundColor);
  border-color: var(--ppInputBorderColor);
  
}
.pp-btn-input {
  width: 165px !important;
}

.pp-input-addon {
  width: 140px !important;
}

.pp-form-control {
  max-width: 224px !important;
}

/* Conirm With Password Modal*/
.cwp-input {
  width: 75%;
  text-align: center;
  direction: ltr;
  margin-bottom: 4px;
  border-radius: 2px;
}

/* GetPlans */
.gp-td-select {
  width: 100%;
  min-width: 300px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.gp-td-checkbox {
  margin: 0 auto !important;
  text-align: center !important;
  padding-top: 13px !important;
}

/* Test */  
.tests-table {
  border-collapse: collapse;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.tests-h1,.tests-h2 {
  text-align: center;
}

.tests-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.tests-row:nth-child(odd) {
  background-color: var(--testsRowOddBackgroundColor);
}
.tests-row:nth-child(even) {
  background-color: var(--testsRowEvenBackgroundColor);
}

.tests-td {
  padding-left: 5%;
  text-align: left;
  border: 2px solid var(--testsTDBorderColor);
  border-spacing: 5px;
  width: 50%;
}

